[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
prefect = "*"
requests = "*"
validators = "*"
faker = "*"

[dev-packages]
debugpy = "*"
coverage = "*"

[requires]
python_version = "3.12"
